# Introduction

In [0]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

# Overview of the Data

In [5]:
%%sql
SELECT * FROM facts limit 5;

 * sqlite:///factbook.db
(sqlite3.OperationalError) no such table: facts
[SQL: SELECT * FROM facts limit 5;]
(Background on this error at: http://sqlalche.me/e/e3q8)

# Summary Statistics

In [0]:
%%sql
SELECT
    MIN(population) min_pop,
    MAX(population) max_pop, 
    MIN(population_growth) min_pop_grwth,
    MAX(population_growth) max_pop_grwth 
FROM facts;

# Exploring Outliers

In [0]:
%%sql
SELECT * FROM facts
WHERE population == (
    SELECT MAX(population) FROM facts
);